.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.heading :first-child {
  font-size: 24px;
  color: #002f34;
  margin-bottom: 20px;
}

.heading :last-child {
  font-size: 14px;
  color: #002f34;
}

.recommendations {
  padding: 20px;
  margin: 16px 16px 24px;
}

.recommendations .heading span {
  font-size: 24px;
  color: #002f34;
}

.recommendations .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 0 10px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .fav-icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .favorite {
  padding: 6px;
  border-radius: 50%;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px;
}

.card .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .content {
  padding: 10px 0; /* Adjusted padding for content */
}

.card .content .rate {
  font-size: larger;
  font-weight: bold;
  margin-top: 10px;
}

.card .content .name {
  font-size: medium;
  font-weight: 500;
}

.card .content .category {
  font-size: medium;
}

.card .date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

/* Media Queries for Responsiveness */

/* @media (max-width: 1200px) {
  .recommendations .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .recommendations .cards {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* @media (max-width: 768px) {
  .recommendations .cards {
    grid-template-columns: repeat(2, 1fr); 
  }
} */

/* @media (max-width: 576px) {
  .recommendations .cards {
    grid-template-columns: 1fr; 
  }
} */
